/*https://coolors.co/373737-90ddf0-668586-82aeb1-93c6d6*/

@font-face {
    font-family: 'kollektif';
    src: url('../fonts/kollektif/kollektif-webfont.eot');
    src: url('../fonts/kollektif/kollektif-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/kollektif/kollektif-webfont.woff2') format('woff2'),
    url('../fonts/kollektif/kollektif-webfont.woff') format('woff'),
    url('../fonts/kollektif/kollektif-webfont.ttf') format('truetype'),
    url('../fonts/kollektif/kollektif-webfont.svg#kollektifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'norwester';
    src: url('../fonts/norwester/norwester.eot');
    src: url('../fonts/norwester/norwester?#iefix') format('embedded-opentype'),
    url('../fonts/norwester/norwester.woff2') format('woff2'),
    url('../fonts/norwester/norwester.woff') format('woff'),
    url('../fonts/norwester/norwester.ttf') format('truetype'),
    url('../fonts/norwester/norwester.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@keyframes homepage {
    0% {
        background-image: url("../images/homepage_images/featured_players_quotes/geopmel-july2016.png");
    }
    25% {
        background-image: url("../images/showcase_gallery_images/showcase1.png")
    }
    50%{
        background-image: url("../images/showcase_gallery_images/showcase2.png")
    }
    75%{
        background-image: url("../images/showcase_gallery_images/showcase3.png")
    }
    100%{
        background-image: url("../images/showcase_gallery_images/showcase4.png")
    }

}

body {
    background-color: #373737;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

a {
    color: #93C6D6;
}

a:hover{
    color: #668586;
    text-decoration: none;
}
.background {
    z-index: -99;
    background-image: url("../images/homepage_images/homepagefeaturedimage.png");
    width: 100% !important;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;
    position: absolute;
    /*animation: homepage 36s linear infinite 0s;*/
    /*animation-delay: 10s;*/
}

.background-gradient {
    z-index: -98;
    width: 100% !important;
    height: 300px;
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+73&0.8+0,0.1+59,0+73 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 59%, rgba(0, 0, 0, 0) 73%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 59%, rgba(0, 0, 0, 0) 73%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 59%, rgba(0, 0, 0, 0) 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
}

.presimages {
    background-image: url("../images/homepage_images/home.png");
    width: 100% !important;
    height: 500px;
    background-repeat: no-repeat;
    background-size: auto;
}

nav {
    width: 100%
}

.navbar.navbar-default {
    padding-top: 50px;
    margin: 0 auto;
    width: 800px;
}

h1, h2, h3 {
    font-family: 'kollektif', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #90DDF0;
}

.noletterspacing {
    letter-spacing: 0px;
}

.navbar {
    margin-top: 50px;
    background-color: transparent;
    border: transparent;
    color: white;
    width: 100%;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 10px;

}

body > div.centered > div > div.row.features > div {
    text-align: center;
}

body > div.container-fluid.custom-container-fluid-section {
    text-align: center;
}

.navbar-default .navbar-brand {
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'norwester', serif;
    font-size: 30px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: transparent;
    color: #5e5e5e;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-right {
    margin-right: -30px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #5e5e5e;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.jumbotron {
    background-image: url("../images/homepage_images/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}

.jumbotron-custom {
    display: none;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    height: 10%;
}

#myCarousel {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-fluid {
    padding: 0;
}

.custom-container-fluid {
    margin: 0 auto;
    margin-top: 400px;
    width: 800px;
    position: relative;
}

.custom-container-fluid-section {
    margin: 0 auto;
    width: 800px;
}

#iframealert {
    display: none;
}

.col-md-4 {
    padding-top: 20px;
}

.list-group, .panel-body {
    color: black;
}

.rulestoc {
    width: 300px;
}

.footer {
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    width: 100%;
    font-size: 11px;
    margin-top: 70px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(153, 153, 153, 0.57);
    padding-top: 20px;
}

.footer-copy {
    padding: 0;
    padding-top: 10px;
}

.footer > .container-fluid > a {
    color: #8c8c8c;
}
.social-icons {
    float: right !important;
    text-align: right;
}
.social-icons > ul > li{
    display: inline;
    text-decoration: none;
    padding: 0;
    padding-right: 10px;
}
.social-icons > ul > li > a:hover{
    text-decoration: none;
    color: #5e5e5e;
}
.social-icons > ul > li > a > svg {
    width: 20px;
    fill: #5b5b5b;
}
.social-icons > ul > li > a > svg:hover {
    width: 20px;
    fill: #93C6D6;
}
.footer > .container-fluid > .row > .col-md-5 > .nav > li > a {
    color: #3d3d3d;
}

.footer > .container-fluid > .row > .col-md-7 > ul {
    list-style: none;
    padding: 0;
    padding-top: 5px;

}

.footer > .container-fluid > a:hover {
    color: #5e5e5e;
    text-decoration: none;
}

.footer > .container-fluid {
    padding-left: 0;
}

.footer > .custom-container-fluid {
    margin-top: auto;
}

#top-link-block.affix-top {
    position: absolute;
    right: 10px;
}

#top-link-block.affix {
    position: fixed;
    bottom: 18px;
    right: 10px;
}

#top-link-block > a {
    color: black;
}

.showonmobile {
    display: none;
}

.quote-box {
    margin-top: -50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

.quote {
    letter-spacing: 1px;
    color: white;
    padding: 10px;
}

.quote > h3 {
    letter-spacing: 1px;
    text-transform: none;
    font-size: 1.4em;
}

.alert {
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
}

.server-status-icon {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 20px;
}
.server-status-icon-alt {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: 0px;
}
.server-up{
    background-color: #32ff00;
}

.server-down{
    background-color: #ff0008;
}

.server-error{
    background-color: #828282;
}

.server-neutral{
    background-color: #232323;
}