body {
    width: auto;
}


.navbar-default .navbar-brand {

}

.navbar-default .navbar-nav > li > a {

}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
.custom-container-fluid {
    width: auto !important;
    margin-top: 400px !important;
    margin-bottom: 20px;
}
.custom-container-fluid-section {
    width: auto !important;
}
.navbar {
    padding-bottom: 20px;
}

.navbar.navbar-default {
    padding-top: 20px !important;
    margin: auto !important;
    width: auto !important;
}
.row {
    text-align: center;
}
iframe {
    display: none;
}

.jumbotron-custom {
    display: inherit;
}

#iframealert {
    display: inherit;
}

.navbar-right {
    margin-right: 0;
}

.background, .background-gradient {
    width: 100% !important;
}

.nav {
    margin-bottom: 20px;
}

#top-link-block {
    padding-left: 70%;
    padding-bottom: 3%;
}

#top-link-block.affix-top {
    position: absolute;
    left: 10px;
}

#top-link-block.affix {
    position: fixed;
    bottom: 18px;
    left: 10px;
}

#top-link-block > a {
}

.social-icons {
    float: none !important;
    text-align: center;
    margin-left: -20px;
}

.hideonmobile {
    display: none;
}

.showonmobile{
    display: inherit !important;
}
